<!DOCTYPE html>
<html>
<head>
	<title>Acme Products Categories Baby</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class='container'>
	<UL class='nav nav-tabs'>
		<li class="{{homeActive}}"><a href="/">Home</a></li>
		<li class="{{catActive}}"><a href="/categories">Categories({{category.id}})</a></li>

	</UL>
	<div class='row'>
		<div class="col-sm-6">
		{%  block content %}
		{% endblock %}
		</div>
		<div class="col-sm-6">
			<h2> Data </h2>
			<div class='well'>
			<a href="/categories/reset"><button style='margin-bottom: 10px' class='btn btn-warning'>Reset</button></a> 
				<pre>{{db | dump(2) }}</pre>
			</div>

		</div>
		
	</div>
</div>
	


	
</body>
</html>